<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security Awareness Quiz</title>
</head>
<body>
    <h1>Welcome to the Security Awareness Quiz</h1>
    <form method="POST" >
        <label for="name">Name:</label>
        <input type="text" name="name" required>
        
        <label for="department">Department:</label>
        <select name="department">
            <option value="Finance Department">Finance Department</option>
            <option value="HR Department">HR Department</option>
            <option value="Audit Department">Audit Department</option>
            <option value="Networks Department">Networks Department</option>
            <option value="Systems and Software Department">Systems and Software Department</option>
        </select>
        
        <button type="submit">Start Quiz</button>
    </form>
</body>
</html>

